services:
  backend:
    build:
      context: .
      target: development
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    networks:
      - transbank-network

networks:
  transbank-network:
    driver: bridge
